
<!DOCTYPE html>
<html lang="en" ng-app="GriftrApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Driftr</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/animate.css/animate.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav id="main_nav" role="navigation" ng-controller="NavCtrl">

    <div class="nav-wrapper container"><a id="logo-container" ui-sref="home" class="brand-logo nav-options">Driftr</a>
      <ul class="right hide-on-med-and-down">
        <li ><a class="nav-options" ui-sref='listings'>Listings</a></li>
        <% if (user) { %>
          <!-- <li><a target="_self" ui-sref="info.owner">{{currentUser.twitter.displayName}}</a></li> -->
          <li ><a class="nav-options" target="_self" ng-click="goToProfile()">{{currentUser.twitter.displayName}}</a></li>
          <li ><a class="nav-options" target="_self" href="/auth/logout" class="glyphicon glyphicon-home">&nbsp;Logout</a></li>
        <% } else { %>
          <li ><a class="nav-options" target="_self" href="/auth/twitter" class="glyphicon glyphicon-home">&nbsp;Login</a></li>
        <% } %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <% if (user) { %>
          <li>{{currentUser}}</li>
          <li><a target="_self" href="/auth/logout"><i class="glyphicon glyphicon-home">&nbsp;Logout</i></a></li>
        <% } else { %>
          <li><a target="_self" href="/auth/twitter"><i class="glyphicon glyphicon-home">&nbsp;Login</i></a></li>
        <% } %>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<%# end of navbar%>

  <ui-view></ui-view>
  <div class="" id="sheet-layer" ng-if="currentState !== 'home' && currentState !== 'listings'">

  </div>

    <div class="footer-copyright page-footer blue-grey lighten-2">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/warlyware/">Dan</a> &amp <a class="orange-text text-lighten-3" href="https://github.com/sherylpeebee">Sheryl</a>
    </div>
  <%# </footer>%>


  <!--  Scripts-->
  <script src="/packages/jquery/dist/jquery.min.js"></script>
  <script src="/packages/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/packages/materialize/materialize.min.js"></script>
  <script src="/packages/lettering.js/jquery.lettering-0.6.1.min.js"></script>
  <script src="/packages/textillate.js"></script>
  <script src="/packages/angular/angular.min.js"></script>
  <script src="/packages/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src='/javascripts/materialize.min.js'></script>
  <script src='/javascripts/materialize-init.js'></script>
  <script src='/javascripts/bundle.js'></script>

  </body>
</html>
