
<div class="container">
      <div class="row">
        <h1 id="listingHeader">Browse currently available homes</h1>
<input type="text" name="name" value="" placeholder="Search Homes" ng-model= "searchText" class="cyan-text text-lighten-5 blue-grey lighten-1 ">
        <div class="col s4" ng-repeat='house in houses | filter: searchText' >
          <div class="card">
            <div class="card-image">
              <img ng-src="{{house.image}}">
              <span class="card-title listingLocation">{{house.location}}</span>
            </div>
            <div class="card-content">
              <div>Square Feet: {{house.squareFoot}}</div>
              <div>Bedrooms: {{house.bedrooms}}</div>
              <div>Bathrooms: {{house.bathrooms}}</div>
              <div>Start Date: {{house.startDate | date: "longDate"}}</div>
              <div>End Date: {{house.endDate | date: "longDate"}}</div>
              <!-- <div>Id: {{house._id}}</div> -->
            </div>
            <div class="card-action">

            </div>
              <a ui-sref="listing({houseId: house._id})">House Info</a>
            </div>
          </div>
        </div>
      </div>


</div>
