/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
a {
  cursor: pointer;
}
img {
  border-bottom: 10px solid azure;
  line-height: 10px;
  display: block !important;
}
body {
  /*margin: 0;*/
  /*background-color: #90A4AE;*/
  background-color: rgba(37, 85, 87, 0.7);
  background-image: url("http://i.huffpost.com/gen/1367942/images/o-TRAVEL-YOUNG-facebook.jpg");
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: 100%;
  /*background-position: center;*/
  z-index: -1;
}

h4, h5 {
  color: white;
}
input {
  color: white !important;
}

nav#main_nav {
    height: 107px;
    background-color: cadetblue;
}

img#left-banner {
    /*margin-bottom: 11%;*/
    margin-top: -125px;
}

div#footer-containter {
    height: 110px;
}

.footer-copyright {
    overflow: hidden;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
     background-color: inherit;
     background-color: #ee6e73;
     position: fixed;
     width: 100%;
     bottom: 0;
     padding: 0 0 0 12px;
}


h3#find-peace {
    position: relative;
    left: 25%;
}

h3#find-place {
    /* position: relative; */
    /* right: 0; */
    position: relative;
    right: 40%;
}
h3.find-button {
    padding: 17px;
    border: 3px solid;
    /*border: 5px solid;*/
    /*color: cadetblue;*/
    color: #6A6C6D;
    display: none;
    /*border-radius: 10px;*/
    border-radius: 7px !important;
    position: relative;
    top: 0px !important;
    /*top: 130px;*/
    transition: background-color .8s ease;
    font-size: inherit !important;
    /*transition: color .8s ease;*/
}
h3.find-button:hover {
    /*background-color: azure;*/
    /*color: rgb(118, 154, 172);*/
    /*background-color: rgba(86, 125, 148, 0.5);*/
    cursor: pointer;
    background-color: rgba(110, 150, 157, 0.5);
}

#intro {
  color: #6A6C6D;
  font-variant: small-caps !important;
}

a.nav-options {
    height: 106px;
}

nav .nav-wrapper {
    line-height: 99px;
    position: relative;
    height: 100%;
}

/*div#sheet-layer {
    height: 43.7vw;
    width: 100%;
    background-color: rgba(248, 247, 216, 0.7);
    background-color: rgba(37, 85, 87, 0.69);
    position: absolute;
    top: 108px;
    left: 0;
    z-index: -3;
}*/

div#sheet-layer {
    height: 80vw;
    width: 100%;
    background-color: rgba(37, 85, 87, 0.69);
    position: absolute;
    top: 108px;
    left: 0;
    z-index: -3;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 700px;
    /*height: 900px;*/
    /* bottom: 0; */
    top: 20pc;
    /*top: 22pc;*/
    /*top: 36pc;*/
}

.ng-scope {
    margin-bottom: 40px;
}

.listingLocation {
    text-transform: capitalize;
}

h4#request_header {
    color: black;
}
button#request_btn {
    margin-top: 38px;
    background-color: cadetblue;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    /*max-height: 70%;*/
    height: 700px !important;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 8px;
    will-change: top, opacity;
}

textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 1rem 0 0;
    resize: none;
    min-height: 2rem;
    /* margin-bottom: 0; */
}
/*https://pbs.twimg.com/profile_images/378800000397127630/3c7dfe9f2943408ca178dede7c6ec39a.jpeg*/


/*http://sharetu.com/wp-content/uploads/2015/07/o-TRAVELING-ALONE-facebook.jpg*/
